node_modules
package-lock.json
.env
/test-results/
/playwright-report/
/playwright/.cache/
dist/
dist.*
yarn-error.log
/test.*
test.*
/docs/.vitepress/dist
/docs/.vitepress/cache
servers.csv
.next/
tsconfig.tsbuildinfo