node_modules
_node_modules
package-lock.json
.env
/test-results/
/playwright-report/
/playwright/.cache/
dist/
dist.*
yarn-error.log
test.*
/docs/.vitepress/dist
/docs/.vitepress/cache
servers.csv
.next/
tsconfig.tsbuildinfo
temp/
/.yarn
/.VSCodeCounter
/.yarn
depots
public/sitemap*
/firebase.json
target
# packages/core/src/protos/*
# !packages/core/src/protos/*.proto
/.vercel
/.astro
.vercel
/src
/packages/bot/src/prisma