.mark {
  color: var(--gray-12);
  background-color: var(--purple-a9);
  outline: 4px solid var(--purple-a4);
  box-shadow: 0 0 1rem var(--purple-9);
}

.focused .mark {
  color: var(--gray-1);
  background-color: var(--amber-a9);
  outline: 4px solid var(--amber-a4);
  box-shadow: 0 0 1rem var(--amber-9);
}
