:root {
  --scroll-time: 80s;
}

.scroller-0 {
  animation: move-1 var(--scroll-time) linear infinite;
}

.scroller-1 {
  animation-delay: var(--scroll-time);
  animation: move-1 var(--scroll-time) linear infinite;
}

@keyframes move-1 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
