@keyframes penetrating-shell-slide {
  0% {
    margin-top: -9rem;
  }
  28%,
  100% {
    margin-top: 8rem;
  }
}

.ricochet-visualizer-penetrating-shell {
  animation: penetrating-shell-slide infinite;
}

@keyframes ricocheting-shell-slide {
  0% {
    margin-top: -18rem;
  }
  38% {
    margin-top: -18rem;
  }
  63%,
  69% {
    margin-top: 0rem;
  }
  100% {
    margin-top: 8rem;
  }
}

@keyframes ricocheting-shell-slide-container {
  0% {
    transform: translateX(-50%) rotate(80deg);
  }
  63% {
    transform: translateX(-50%) rotate(80deg);
  }
  69% {
    transform: translateX(-50%) rotate(100deg);
  }
  100% {
    transform: translateX(-50%) rotate(100deg);
  }
}

.ricochet-visualizer-ricocheting-shell {
  animation: ricocheting-shell-slide infinite;
}

.ricochet-visualizer-ricocheting-shell-container {
  animation: ricocheting-shell-slide-container infinite;
}

@keyframes surface-impact {
  0%,
  60% {
    opacity: 1;
    width: 0;
    height: 0;
  }
  66% {
    opacity: 1;
    width: 1.5rem;
    height: 1.5rem;
  }
  72%,
  100% {
    opacity: 0;
    width: 3rem;
    height: 3rem;
  }
}

.ricochet-visualizer-surface-impact {
  animation: surface-impact linear infinite;
}

@keyframes puncture {
  0%,
  10% {
    opacity: 1;
    margin-top: -6rem;
  }
  15%,
  30% {
    opacity: 1;
    margin-top: -1rem;
  }
  45%,
  100% {
    opacity: 0;
    margin-top: -1rem;
  }
}

.ricochet-visualizer-puncture {
  animation: puncture infinite;
}

@keyframes safe {
  0% {
    opacity: 0;
  }
  5%,
  28% {
    opacity: 1;
  }
  33%,
  100% {
    opacity: 0;
  }
}

.ricochet-visualizer-safe {
  animation: safe infinite;
}

@keyframes unsafe {
  0%,
  33% {
    opacity: 0;
  }
  38%,
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ricochet-visualizer-unsafe {
  animation: unsafe infinite;
}
