.policies-agreement {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-overlay);
  z-index: 2;
}

.policies-agreement .content-wrapper {
  width: 100%;
  background: var(--color-panel-solid);
}

.policies-agreement .content {
  max-width: 80rem;
}
