.scroll-hint {
  position: absolute;
  animation: dropFade 1s ease-in-out infinite;
}

@keyframes dropFade {
  0% {
    top: 0;
    opacity: 1;
  }
  20% {
    top: 0;
    opacity: 1;
  }
  80% {
    top: 50%;
    opacity: 1;
  }
  99% {
    top: 50%;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
